/* ----- Aside section start ----- */
.aside-section{
    padding: 23px 28px 28px;
    border: 1px solid #dde3e8;
    background-color: #fff;
}
.aside-title{
    font-weight: 700;
    font-size: 20px;
    color: #263238;
    line-height: 1.5;
    border-bottom: 1px solid #dde3e8;      
    text-transform: capitalize; 
    margin-bottom: 27px;
}
.aside-section span{
    display: block;
    padding-bottom: 15px;
}
.aside-section + .aside-section{
    margin-top: 32px;
}
.mobile-aside-toggle{
    display: none;
}
button.mobile-aside-toggle{
    outline: none;
}
/* Добавить в ресет ресета */
body.overflow{
    overflow: hidden;
}
#main{
    overflow: hidden;
}

/* ----- Aside section end ----- */

/* Adaptive start */
@media(max-width: 991px){
    .mobile-aside{
        position: fixed;
        top: 15px;
        left: 0;
        z-index: 999;
        transition: all .2s ease-in;
        height: 100vh;
        overflow-y: auto;
    }
    .mobile-aside.left{
        transform: translateX(-110%);
    }
    .mobile-aside.right{
        left: auto;
        right: 30px;
        transform: translateX(110%);
    }
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, .4);
        z-index: -1;
        transition: all .2s ease-in;
    }
    #main.show-aside .mobile-aside.left,
    #main.show-aside .mobile-aside.right{
        transform: translateX(0);
    }
    #main.show-aside .overlay{
        z-index: 998;
        opacity: 1;
    }
    .mobile-aside-toggle{
        display: flex;
    }
}

/* Adaptive end */