
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    background-color: #fff;
    color: #777;
    font: 400 16px/1 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

input, textarea, button {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
    padding: 0;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    cursor: pointer;
}

blockquote {
    margin: 0;
}
/* ----- Aside section start ----- */
.aside-section{
    padding: 23px 28px 28px;
    border: 1px solid #dde3e8;
    background-color: #fff;
}
.aside-title{
    font-weight: 700;
    font-size: 20px;
    color: #263238;
    line-height: 1.5;
    border-bottom: 1px solid #dde3e8;      
    text-transform: capitalize; 
    margin-bottom: 27px;
}
.aside-section span{
    display: block;
    padding-bottom: 15px;
}
.aside-section + .aside-section{
    margin-top: 32px;
}
.mobile-aside-toggle{
    display: none;
}
button.mobile-aside-toggle{
    outline: none;
}
/* Добавить в ресет*/
body.overflow{
    overflow: hidden;
}
#main{
    overflow: hidden;
}

/* ----- Aside section end ----- */

/* Adaptive start */
@media(max-width: 991px){
    .mobile-aside{
        position: fixed;
        top: 15px;
        left: 0;
        z-index: 999;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        height: 100vh;
        overflow-y: auto;
    }
    .mobile-aside.left{
        -webkit-transform: translateX(-110%);
                transform: translateX(-110%);
    }
    .mobile-aside.right{
        left: auto;
        right: 30px;
        -webkit-transform: translateX(110%);
                transform: translateX(110%);
    }  
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, .4);
        z-index: -1;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
    }
    #main.show-aside .mobile-aside.left,
    #main.show-aside .mobile-aside.right{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    #main.show-aside .overlay{
        z-index: 998;
        opacity: 1;
    }
    .mobile-aside-toggle{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

/* Adaptive end */
/* ----- Breadcrumbs start ----- */
.breadcrumb-section{
    padding: 45px 0;
}
.breadcrumb-item + .breadcrumb-item::before{
    content: "-";
    color: #8bc34a;
}
.breadcrumb{
    font-size: 15px;
    padding: 0;
    margin-bottom: 0px; 
    background-color: transparent;
}
.breadcrumb-item{
    color: #b0bec5;
}
.breadcrumb-item a:hover{
    color: #263238;
}
.breadcrumb-item.active{
    color: #263238;
}
/* Breadcrumbs end */

/* Adaptive start */
@media(max-width: 479px){
    .breadcrumb{
        display: none;
    }
}
/* Adaptive end */

/* Forms start */
.content-wrapper-bordered{
    background-color: #fff;
    border: 1px solid #dedede;
}
.content-wrapper-bordered .content-wrapper-title{
    padding: 20px 34px;
    border-bottom: 1px solid #dedede;
}
.content-wrapper-bordered .content-wrapper-title h6{
    font-size: 24px;
    color: #263238;
    font-weight: 500;
    text-transform: capitalize;
}
.content-wrapper-bordered .content-wrapper-body{
    padding: 35px 34px 80px;
}
.content-wrapper-bordered .content-wrapper-body .col-form-label{
    text-transform: capitalize;
    color: #444;
    font-size: 15px;
    position: relative;
}
.form-control{
    border: 1px solid #dcdcdc;
    background-color: #f9f9f9;
    border-radius: 0;
    height: 40px;
    padding: 5px 16px;
}
.form-group{
    margin-bottom: 0;
}
.form-group:not(:first-of-type){
    margin-top: 22px;
}
.form-control:focus{
    -webkit-box-shadow: 0 2px 3px rgba(111, 111, 111, 0.75);
            box-shadow: 0 2px 3px rgba(111, 111, 111, 0.75);
    border-color: #dcdcdc;
    background-color: #f9f9f9;
}
.jq-selectbox {
    width: 100%;
}
.jq-selectbox.focused .jq-selectbox__select{
    border: 1px solid #dcdcdc;
}
.jq-selectbox__select{
    border: 1px solid #dcdcdc;
    background: #f9f9f9;
    border-radius: 0;
    height: 40px;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 40px 0 15px;
    line-height: 40px;
}
.jq-selectbox .placeholder{
    font-size: 15px;
    color: #707070;
    text-transform: capitalize;
    font-family: 'Roboto';
}
.jq-selectbox li{
    font-size: 15px;
    color: #707070;
    text-transform: capitalize;
    font-family: 'Roboto';
}
.jq-selectbox__select:hover{
    background: #f9f9f9;
}
.jq-selectbox__trigger{
    border-left: none;
    width: 40px;
}
.jq-selectbox__trigger-arrow{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-top-color: #000;
}
.content-wrapper-bordered .content-wrapper-body.product-form{
    padding: 45px 45px 68px;
}
.col-form-label span{
    color: #8bc34a;
    font-size: 10px;
    margin-left: 3px;
    position: absolute;
}
.content-wrapper-bordered .content-wrapper-body textarea.form-control{
    min-height: 150px;
}
.form-control::-webkit-input-placeholder {
    color: #707070;
    font-size: 15px;
}   
.form-control:-moz-placeholder { /* Firefox 18- */
    color: #707070;
    font-size: 15px; 
}  
.form-control::-moz-placeholder {  /* Firefox 19+ */
    color: #707070;
    font-size: 15px; 
}  
.form-control:-ms-input-placeholder {  
    color: #707070;
    font-size: 15px; 
}
.jq-file{
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    border-radius: 0;
}
.jq-file.focused .jq-file__name{
    border: 1px solid #dedede;
}
.jq-file__name{
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 104px;
    border: 1px solid #dedede;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #f9f9f9;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    color: #707070;
    text-transform: capitalize;
}
.jq-file__browse{
    top: 7px;
    right: auto;
    left: 10px;
    border-left: none;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    line-height: 26px;
    height: 26px;
    background-image: none;
    background-color: #fff;
    border: 1px solid #dedede;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: #444;
}
/* Forms end */

/* Adaptive start */
@media(max-width: 767px){
    .content-wrapper-bordered .content-wrapper-body.product-form{
        padding: 20px 20px 40px;
    }
    .content-wrapper-bordered .content-wrapper-body{
        padding: 20px 20px 50px;
    }
}
/* Adaptive end */
/* Login start */
#loginModal .modal-dialog{
    max-width: 730px;
}
#loginModal .modal-content{
    background-color: #8bc34a;
    border-radius: 0;
    border: none;
    padding: 90px 30px 110px;
}
#loginModal .close{
    position: absolute;
    top: -70px;
    right: -5px;
    color: #fff;
    opacity: 1;
    font-size: 18px;
}
#loginModal button:focus{
    outline: none;
}
#loginModal .login-title{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
#loginModal form[name="login-form"]{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.login-form-control::-webkit-input-placeholder {color:#fff;}
.login-form-control::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.login-form-control:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.login-form-control:-ms-input-placeholder      {color:#fff;}

#loginModal .login-form-control{
    background-color: #76ae36;
    width: 100%;
    height: 43px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-left: 40px;
}
#loginModal .login-form-group{
    position: relative;
}
#loginModal .login-form-group + .login-form-group{
    margin-top: 8px;
}
#loginModal .login-form-group i{
    position: absolute;
    top: 48%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 16px;
    color: #fff;
    font-size: 13px;
}
#loginModal .login-btn-group{
    margin-top: 20px;
    margin-bottom: 24px;
}
#loginModal .login-btn-group button{
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    min-width: 140px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(118, 174, 54, .75);
            box-shadow: 0 2px 3px 0 rgba(118, 174, 54, .75);
}
#loginModal .login-btn-group a{
    background-color: #76ae36;
    font-size: 18px;
    color: #fff;
    line-height: 1;
    width: 244px;
    margin-left: 12px;
}
#loginModal .login-btn-group a:hover{
    background-color: #6fad28;
}
#loginModal .login-btn-group i{
    padding-right: 15px;
    padding-left: 10px;
    font-size: 15px;
}
#loginModal .lost-password{
    font-size: 18px;
    color: #fff;
}
#loginModal .lost-password:hover{
    color: #263238;
}
/* Login end */

/* Adaptive start */
@media(max-width: 576px){
    #loginModal .modal-content{
        padding: 50px 30px 60px;
    }
    #loginModal .close{
        top: -30px;
        right: 1px;
    }
    #loginModal .login-btn-group a{
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 20px;
    }
    #loginModal .login-btn-group button{
        width: 100%;
    }
    #loginModal .login-btn-group i{
        padding-right: 10px;
        padding-left: 0;
    }
} 
@media(max-width: 479px){
    #loginModal .login-btn-group a{
        font-size: 16px;
    }   
}
/* Adaptive end */
/* Pagination start */
.pagination{
    margin-top: 60px;
}
.page-link{
    padding: 10px 18px;
    font-weight: 500;
    font-size: 16px;
    color: #263238;
    margin-left: 8px;
    -webkit-box-shadow: 0px 1px 2px #d9e0e3;
            box-shadow: 0px 1px 2px #d9e0e3;
    border: none;
}
.page-link:focus{
    -webkit-box-shadow: 0px 1px 2px #d9e0e3;
            box-shadow: 0px 1px 2px #d9e0e3;
}
.page-item:first-child .page-link{
    border-radius: 0px;
}
.page-item:last-child .page-link{
    border-radius: 0px;
}
.page-item .page-link:hover{
    background-color: #e74c3c;
    color: #fff;
}
.page-item.active .page-link{
    background-color: #e74c3c;
}

/* Pagination end */

/* Adaptive start */
@media(max-width: 767px){
    .page-link{
        padding: 4px 12px;
    }
}
@media(max-width: 576px){
    .page-link{
        padding: 3px 9px;
        font-size: 13px;
    }
}
/* Adaptive end */
/* ----- Search section start ----- */
.search-section{
    background-image: url("../../../app/img/inner-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.search-section.big-search{
    min-height: 535px;
}
.search-section.small-search{
    min-height: 230px;
}
.search-section h1{
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 30px;
}
.search-section span{
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 55px;
    display: block;
}
.search-section.small-search span{
    margin-bottom: 25px;
}
.search-form{
    max-width: 620px;
    position: relative;
}

.form-control-search::-webkit-input-placeholder {color:#90a4ae;}
.form-control-search::-moz-placeholder          {color:#90a4ae;}/* Firefox 19+ */
.form-control-search:-moz-placeholder           {color:#90a4ae;}/* Firefox 18- */
.form-control-search:-ms-input-placeholder      {color:#90a4ae;}

.form-control-search{
    padding-right: 60px;
    padding-left: 25px;
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 1px 1px 10px rgba(124, 178, 64, 0.75);
            box-shadow: 1px 1px 10px rgba(124, 178, 64, 0.75);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .05em;
    text-transform: capitalize;
    color: #90a4ae;
    background-color: #fff;
}
.search-form i{
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #78909c;
    font-size: 20px; 
    background-color: transparent; 
}
.form-control-search:focus{
    -webkit-box-shadow: 1px 1px 30px rgba(124, 178, 64, 0.75);
            box-shadow: 1px 1px 30px rgba(124, 178, 64, 0.75);
}
.small-search form .form-control-search{
    -webkit-box-shadow: 1px 1px 10px rgba(1, 1, 1, 0.75);
            box-shadow: 1px 1px 10px rgba(1, 1, 1, 0.75);
}
.small-search form .form-control-search:focus{
    -webkit-box-shadow: 1px 1px 25px rgba(1, 1, 1, 0.45);
            box-shadow: 1px 1px 25px rgba(1, 1, 1, 0.45);
}

/* ----- Search section end ----- */

/* Adaptive start */
@media(max-width: 991px){
    .search-section h1{
        font-size: 40px;
    }
}
@media(max-width: 767px){
    .search-section.big-search{
        min-height: 335px;
    }
    .search-section h1{
        font-size: 33px;
    }
    .search-section span{
        font-size: 17px;
        margin-bottom: 30px;
    }
    .form-control-search{
        height: 40px;
        padding-right: 40px;
    }
    .search-form i{
        font-size: 15px;
        right: 10px;
    }
}
@media(max-width: 576px){
    .search-section h1{
        font-size: 29px;
    }   
}
/* Adaptive end */


/* Personal info start */
.form-section.personal-info{
    padding-bottom: 153px;
}
.form-section .mobile-aside-toggle .fa{
    background-color: #f4f6f5;
    font-size: 18px;
    color: #707070;
    font-weight: 700;
}
/* Personal info end */
/* Upload products start */
.form.upload-products{
    padding-bottom: 110px;
}
.content-wrapper-bordered .content-wrapper-title.product-title{
    padding-top: 0;
}
/* Upload products end */




/* ========== Oleg default component start ========== */

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    background-color: #fff;
    color: #777;
    font: 400 16px/1 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

input, textarea, button {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
    padding: 0;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    cursor: pointer;
}

blockquote {
    margin: 0;
}
/* Author section start */

.author .author-card {
    padding: 110px 50px;
    margin: 0 auto;
    background-color: #b5b5b5;
    -webkit-box-shadow: 0 0px 80px 0 rgba(182, 182, 192, .75);
            box-shadow: 0 0px 80px 0 rgba(182, 182, 192, .75);
    max-width: 1105px;
}

.author-card .author-info {
    padding: 58px 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #8bc34a;
    max-width: 653px;
    margin: 0 auto;
}

.author-info span {
    margin-right: 50px;
    color: #fff;
    display: block;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
}

.author-info .btn-custom {
    color: #263238;
    font-size: 18px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

/* Adaptive */
@media (max-width: 991px) {
    .author .author-card {
        padding: 70px 50px;
    }
    .author-card .author-info {
        padding: 38px 50px;
    }   
}

@media (max-width: 767px) {
    .author-card .author-info {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        text-align: center;
    }
    .author-info span {
        margin: 0 0 20px;
        width: 100%;
    }
}

@media (max-width: 575px) {
    .author .author-card {
        padding: 30px 20px;
    }
    .author-card .author-info {
        padding: 30px 20px;
    }
    .author-info span {
        font-size: 25px;
    }
}
/* Author section end */

/* Buttons start */
.btn-custom {
    display: inline-block;
    vertical-align: top;
    padding: 15px 24px;
    font-size: 16px;
    line-height: 1.35;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 0;
    border: 0;
}

.btn-custom[disabled] {
    cursor: not-allowed;
    opacity: .6;
}

.btn-custom.btn-default {
    background-color: #fff;
    color: #263238;
    -webkit-box-shadow: 0 1px 3px 0 rgba(182, 182, 192, .75);
            box-shadow: 0 1px 3px 0 rgba(182, 182, 192, .75);
    min-width: 163px;
}

.btn-custom.btn-default:hover {
    background-color: #d1d0d0;
}

.btn-custom.btn-small {
    padding: 9px 13px;
    color: #fff;
    min-width: 72px;
    font-size: 12px;
}

.btn-danger, .btn-success, .btn-secondary, .btn-primary {
    font-weight: 500;
    color: #fff;
}

.btn-danger {
    background-color: #e74c3c;
}

.btn-danger:hover {
    background-color: #c81d0b;
}

.btn-secondary {
    background-color: #546e7a;
}

.btn-secondary:hover {
    background-color: #394a53;
}

.btn-success {
    background-color: #8bc34a;
}

.btn-success:hover {
    background-color: #79a942;
}

.btn-primary {
    background-color: #42a5f5;
}

.btn-primary:hover {
    background-color: #3b92d9;
}

.box-shadow {
    -webkit-box-shadow: 0 1px 3px 0 rgba(182, 182, 192, .75);
            box-shadow: 0 1px 3px 0 rgba(182, 182, 192, .75);
}
/* Buttons end */
.slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.main-slider-item {
    max-width: 442px;
}

.week-trending .main-slider .slick-arrow {
    display: none;
}

.main-slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 90px;
    margin: 65px auto 0;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #e8e8e8;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px #b1b1b1 inset;
            box-shadow: 0 1px #b1b1b1 inset;  
}

.slick-dots .slick-active button {
    background-color: #8bc34a;
    -webkit-box-shadow: none;
            box-shadow: none;
}
/* Adaptive */

@media (max-width: 565px) {
    .slick-dots li button {
        display: none;
    }
}
/* default-list start */
.default-list {
    font-size: 14px;
    line-height: 1.5;
}

.default-list li {
    padding-left: 20px;
    position: relative;
}

.default-list li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    font-weight: 900;
    position: absolute;
    color: #8bc34a;
    left: 0;
    
}

.default-list li + li {
    margin-top: 24px;
}

/* default-list end */
/* Default-section start */
.default-section {
    padding: 110px 0;
}

.default-section.bg-black {
    background-color: #263238;
}

.default-section.bg-grey {
    background-color: #f4f6f5;
}

.default-section-title {
    font-size: 36px;
    font-weight: 700;
    color: #263238;
    text-transform: capitalize;
    line-height: 1.66;
    margin-bottom: 55px;
    text-align: center;
}
.default-section-title.title-white {
    color: #fff;
}

@media (max-width: 767px) {
    .default-section-title {
        font-size: 30px;
    }
    .default-section {
        padding: 70px 0;
    }
}

@media (max-width: 576px) {
    .default-section-title {
        font-size: 25px;
    }
    .default-section {
        padding: 30px 0;
    }
}
/* Default-section end */
/* dropdown start */
#dropdown-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dropdown-menu {
    border: 1px solid #d5d5d5;
    border-radius: 0;
    -webkit-box-shadow:  0 16px 20px 0 rgba(216, 216, 216, 0.75);
            box-shadow:  0 16px 20px 0 rgba(216, 216, 216, 0.75);
    padding: 0;
    background-color: #fff;
    max-width: 288px;
    min-width: 160px;
}

.header-top .dropdown-menu {
    right: 0;
    left: auto;
    margin-top: 25px;
}

.dropdown-item {
    padding: 13px 17px;
    border-bottom: 1px solid #e0e0e0;
    white-space: normal;
}

.dropdown-item.active, .dropdown-item:active,
.dropdown-item:focus, .dropdown-item:hover {
    color: inherit;
    background-color: #fff;
}

a.dropdown-item:focus, a.dropdown-item:hover .item-icon {
    color: #ef6c00;
}

.dropdown-item .dropdown-card {
    min-width: 236px;
    padding: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dropdown-item:last-child {
    border-bottom: 0;
}

.dropdown-card span {
    display: block;
}

.dropdown-card .dropdown-card-img {
    width: 73px;
    height: 56px;
    background-color: #d4d4d4;
    overflow: hidden;
}

.dropdown-card.card-notification .dropdown-card-img {
    width: 48px;
    height: 48px;
    border: 1px solid #bdd0e7;
    border-radius: 50%;
}

.dropdown-item .item-icon {
    margin-left: auto;
    padding: 8px;
    color: #b0bec5;
}

.card-notification .item-info .item-name {
    font-size: 12px;
}

.card-notification .item-info .item-category {
    font-size: 11px;
}

.card-notification .item-info .item-date {
    font-size: 10px;
    line-height: 2;
    color: #90a4ae;
}

.dropdown-item .item-info {
    margin-left: 15px;
    line-height: 1.4;
}

.item-info .item-name {
    font-size: 15px;
    font-weight: 500;
}

.item-info .item-category {
    font-size: 12px;
    color: #84b743;
}

.item-info .item-price {
    font-size: 16px;
    font-weight: 500;
}

.item-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.item-amount span {
    padding: 0 15px;
}

.btn-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.btn-row .btn-custom {
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
}

/* dropdown end */

/* Adptive start */

@media (max-width: 575px) {
    .dropdown-menu .item-amount {
        font-size: 12px;
    }
    .dropdown-menu .item-info .item-name {
        font-size: 11px;
    }
    .dropdown-menu .btn-custom.btn-small {
        font-size: 9px;
    }
    .dropdown-menu {
        max-width: 220px;
    }
    .dropdown-item .dropdown-card {
        min-width: 200px;
    }
}

/* Adaptive end */
/* Header NOT-LOGINED */
#header.not-logined .for-logined {
    display: none;
}

#header.logined .logined {
    display: none;
}
/* Header start */
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 15px;
}

.header-top .navbar {
    padding: 25px 0;  
}

.navbar-brand {
    padding: 0;
}

#header .navbar-text {
    font-size: 15px;
    color: #546e7a;
}

.user-notification {
    margin-right: 15px;
}

.user-notification li {
    margin-left: 15px;
}

.user-notification .dropdown-toggle {
    position: relative;
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.show .dropdown-toggle {
    color: #263238;
}

.user-notification .dropdown-toggle .value {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -8px;
    text-align: center;
    font-size: 11px;
    line-height: 1.7;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.dropdown-toggle::after {
    display: none;
}

.user-notification .dropdown-toggle:hover {
    color: #263238;
}

.dropdown-bell .value {
    background-color: #fcb322;
}

.dropdown-envelope .value {
    background-color: #ef6c00;
}

.dropdown-basket .value {
    background-color: #95c85a;
}

.not-logined .dropdown-basket .value {
    background-color: #ef6c00;
}

.user-info {
    margin-left: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 23px;
}

.user-info .user-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #b5b5b5;
}

.user-info-text span {
    display: block;
    padding: 0 5px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
}

.user-name {
    color: #222;
}

.user-price {
    color: #8bc34a
}

.user-info .fa {
    line-height: 1.45;
    margin-left: 7px;
}

.header-top .default-list {
    font-size: 12px;
    line-height: 1.4;
    color: #546e7a;
    padding: 25px 17px;
}

.header-top .btn-custom {
    margin-left: 7px;
}

.header-top .btn-custom:first-child {
    margin-left: 0;
}

#header .header-bottom {
    background-color: #263238;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.header-bottom .navbar {
    padding: 25px 0;  
}

#header .header-bottom .navbar-nav li a {
    padding: 0;
    color: inherit;
}

#header .header-bottom .navbar-nav li a:hover {
    color: #95c85a;
}

.header-bottom .navbar-nav li + li {
    margin-left: 35px;
} 

.bg-dark {
    background-color: #263238!important;
    /* ЗАГНАТЬ в РЕСЕТ??? */
}

/* Header end */

/* Adaptive start */


@media (max-width: 991px) {
    .navbar-expand-md {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .header-bottom .navbar-nav li + li {
        margin-left: 20px;
    } 
}

@media (max-width: 767px) {
    .not-logined .header-top .user-notification li {
        margin-left: 0;
    }

    .navbar-brand {
        margin: 0 auto 10px;
    }

    .header-top .navbar-collapse {
        text-align: center;
    }

    .header-top .navbar-collapse .navbar-text {
        display: block;
        margin: 0 auto 10px;
    }

    .header-top .user-notification, 
    .header-top .user-info {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0 auto 10px;
    }

    .header-top .user-notification li:first-child {
        margin-left: 0;
    }

    .header-top .dropdown-menu {
        left: auto;
        right: auto;
        margin-top: 10px;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    .user-info .dropdown-menu {
        -webkit-transform: none;
                transform: none;
    }
    .header-bottom .navbar-nav {
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
    }

    .header-bottom .navbar-nav li {
        border-bottom: 1px solid #95c85a;
    }

    .header-bottom .navbar-nav li + li {
        margin-left: 0;
        margin-top: 15px;
    }
}

@media (max-width: 577px) {
    .header-top .navbar-text {
        max-width: 220px;
    }
}
/* Adaptive end */

/* Free monthly card start */
.free-monthly-card {
    background-color: #f8f8f8;
}
.free-monthly-card img {
    width: 100%;
}

.free-monthly-card .monthly-info {
    padding: 35px 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    color: #263238;
}

.free-monthly-card .monthly-info span {
    text-transform: capitalize;
}

/* Adaptive */
@media (max-width: 991px) {
    .free-monthly-card .monthly-info {
        font-size: 18px;
    }
}
@media (max-width: 767px) {
    .free-monthly-card {
        max-width: 350px;
        margin: 0 auto 50px;
    }
}


/* Free monthly card end */
/* why-you-choose start*/

.quality-info {
    padding: 0 25px;
    text-align: center;
    color: #b0bec5;
    line-height: 1.6;
    font-size: 15px;
}

.quality .quality-info-img {
    width: 113px;
    height: 113px;
    border-radius: 50%;
    background-color: #b5b5b5;
    margin: 0 auto 25px;
    overflow: hidden;
}

.quality .quality-info-img img {
    width: 100%;
}

.quality .quality-info-img img:hover {
    opacity: .6;
}

.quality-info .quality-title {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
    line-height: 2;
    text-transform: capitalize;
}

.quality-info .quality-title a:hover {
    color: #8bc34a;
}
/* Adaptive */
@media (max-width: 991px) {
    .quality-info {
        padding: 0 20px;
        font-size: 14px;
    }
    .quality-info .quality-title {
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .quality-info {
        max-width: 350px;
        margin: 0 auto 50px;
    }
}

/* why-you-choose end*/


/*My default component start*/

 /*Default-text start*/
.default-text {
    font-size: 15px;
    line-height: 1.6em;
    color: #b0bec5;
}
 /*Default-text end*/

/*Large-card start*/
.large-card {
    border-radius: 0;
    border-color: #d9e0e3;
    position: relative;
}
.card.large-card:hover {
    box-shadow: 5px 20px 35px #ececec;
}
.card-img {
    position: relative;
}
.card-img  img {
    width: 100%;
}
.card .card-info {
    border-bottom: 1px solid #e7ecf2;
}
.card-info {
    padding: 25px 30px 15px;
}
.card-info .title-category a {
    display: block;
}
.card-info .title-category a:first-child {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #263238;
    margin-bottom: 20px;
}
.card-info .title-category a:last-child {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #8bc34a;
}
.card-info .card-price {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #263238;
}
.card-author {
    padding: 20px 30px;
}
.card-author .author-name {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #546e7a;
    margin-left: 14px;
}
.card-author .card-product-rating li {
    color: #ffa726;
    font-size: 12px;
    display: inline-block;
}
.card-author .rating-count {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #263238;
    margin-left: 12px;
}
.rating-count::before {
    content: '(';
    margin-right: 2px;
}
.rating-count::after {
    content: ')';
    margin-left: 2px;
}
.green-label-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../../app/img/green-label.png);
    display: block;
    height: 64px;
    width: 63px;
}
/*Large-card end*/

/*Medium-card start*/
.all-items-container .col-12:nth-child(n+4) .card.medium-card {
    margin-top: 30px;
}
.card.medium-card:hover {
    box-shadow: 10px 15px 35px #ececec;
}
.card.medium-card .card-info {
    padding: 27px 15px;
}
.medium-card .card-info .title-category a:first-child {
    font-size: 16px;
    margin-bottom: 16px;
}
.medium-card .card-info .card-price {
    font-size: 20px;
}
.medium-card .card-author {
    padding: 16px 15px 19px;
}
.medium-card .card-author .author-name {
    font-size: 12px;
    margin-left: 5px;
}
.medium-card .card-product-rating li {
    font-size: 11px;
}
.medium-card .card-author .card-product-rating li + li {
    margin-left: 1px;
}
.medium-card .card-author .rating-count {
    font-size: 11px;
    margin-left: 5px;
}
.medium-card .rating-count::before {
    content: '(';
    font-size: 11px;
    margin-right: 1px;
}
.medium-card .rating-count::after {
    content: ')';
    font-size: 11px;
    margin-left: 1px;
}
.medium-card .row-card-img {
    display: none;
}
.medium-card .card-description-row {
    display: none;
}
.medium-card .card-author .feedback {
    display: none;
}
/*Medium-card end*/

/*Row card start*/
.card.row-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: none;
}
.all-items-container .col-12:nth-child(n+2) .card.row-card {
    margin-top: 30px;
}
.card.card.row-card:hover {
    box-shadow: 20px 20px 35px #ececec;
}
.card.row-card .card-img {
    flex: 3;
}
.card.row-card .card-description {
    flex: 8;
    display: flex;
    flex-direction: column;
}
.card.row-card .card-section-top {
    border-bottom: 1px solid #e7ecf2;
    padding: 22px 34px 21px;

}
.card.row-card .card-info {
    padding: 0 !important;
    border: none;
    margin-bottom: 21px;
}
.card.row-card .card-section-top .card-info .title-category a:first-child {
    margin-bottom: 11px;
}
.card.row-card .card-info .card-price {
    font-size: 30px;
}
.card.row-card .card-description-row {
    display: block;
}
.card.row-card .card-section-top .card-description-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card.row-card .card-description-row .row-card-text {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #70838d;
}
.card.row-card .card-description-row .card-sales {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #aeb4bb;
}
.card.row-card .card-description-row .card-sales span {
    margin-left: 5px;
}
.brackets::before {
    content: '(';
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #aeb4bb;
    margin-right: 2px;
}
.brackets::after {
    content: ')';
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #aeb4bb;
    margin-left: 2px;
}
.card.row-card .card-author {
    padding: 15px 29px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card.row-card .card-author .author-name {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #546e7a;
    margin-left: 14px;
}
.card.row-card .card-author .card-product-rating,
.card.row-card .card-author ul li {
    display: inline-block;
}
.card.row-card .card-author .card-product-rating {
    margin-right: 8px;
}
.card.row-card .card-author ul li + li {
    margin-left: 2px;
}
.card.row-card .card-author ul li {
    color: #ffa726;
    font-size: 12px; 
}
.card.row-card .card-author .feedback {
    display: block;
}
.card.row-card .card-author .rating-count {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #263238;
    margin-left: 0px;
}
.card.row-card .card-author .far {
    display: inline;
    font-size: 16px;
    color: #8bc34a;
    padding-left: 18px;
    border-left: 1px solid #aeb4bb;;
    margin-left: 25px;
    margin-right: 18px;
}
.card.row-card .rating-count::before {
    content: '(';
    margin-right: 2px;
    font-size: 12px;
}
.card.row-card .rating-count::after {
    content: ')';
    margin-left: 2px;
    font-size: 12px;
}
/*Row card end*/

/*Small card for aside section*/
.card.small-card {
    border: none;
    border-radius: 0;
    padding-bottom: 27px;
    border-bottom: 1px solid #dde3e8;
}
.card.small-card:nth-child(n+2) {
    margin-top: 28px;
}
.card.small-card .card-img {
    margin-bottom: 22px;
}
.card.small-card .card-info {
    border: none;
    padding: 0;
    margin-bottom: 20px;
}
.card.small-card .card-info .title-category a:first-child{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 13px;
} 
.card.small-card .card-info .card-price {
    font-size: 16px;
}
.card.small-card .card-author {
    padding: 0;
}
.card.small-card .card-author .author-name {
    margin-left: 10px;
}
/*Small card for aside end*/

/*Tabs for product details start*/
.tags-product-wrapper {
    background-color: #fff;
}
.product-tags-nav {
    display: flex;
    flex-direction: row;
    outline: 1px solid #d7d7d7;
}
.product-tags-nav .product-tags-item {
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid #d7d7d7;
}
.product-tags-nav .product-tags-item:last-child {
    border-right: none;
}
.product-tags-nav li a {
    display: block;
    line-height: 58px;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #70838d;
}
.product-tags-nav li a:hover {
    font-size: 16px;
    font-weight: 500;
    color: #263238;
}
.tags-product-wrapper .bottom-content {
    padding: 38px 36px 68px;
    overflow: hidden;
}
.tags-product-wrapper .tab-item-product .default-list {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    max-height: 160px;
    line-height: 40px;
    font-size: 16px;
    color: #707070;
}
.tags-product-wrapper .tab-item-product .default-list li {
    margin-right: 38px;
}
.tags-product-wrapper .tab-item-product .default-list li + li {
    margin-top: 0;
}
#tabs-product .product-tags-nav .ui-state-active a {
    font-size: 16px;
    font-weight: 500;
    color: #263238;
    border-bottom: 3px solid #8bc34a;
}
.tags-product-wrapper .tab-item-product .default-list li a:hover {
    color: #424141;
}
/*Tabs for product details end*/

/*Tags for main page start*/
.tags-nav li a {
    background-color: #fff;
}
.tags-nav li + li {
    margin-left: 6px;
}
.tags-nav li a:hover {
    background-color: #e74c3c;
    box-shadow: 4px 4px 5px rgba(202, 215, 228, 0.75);
    color: #fff;
}
.tags-nav li a {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #263238;
    display: block;
    padding: 13px 27px;
}
/*Tags for main page end*/

/*Lets check start*/
.lets-check .lets-check-title h4 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #263238;
    margin-bottom: 60px;
    text-align: center;
}
.main-tags-nav {
    margin-bottom: 59px;
}
.main-tags-nav li a {
    background-color: #fff;
}
.main-tags-nav li + li {
    margin-left: 6px;
}
.main-tags-nav li a:hover {
    background-color: #e74c3c;
    box-shadow: 4px 4px 5px rgba(202, 215, 228, 0.75);
    color: #fff;
}
.main-tags-nav li a {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #263238;
    display: block;
    padding: 13px 27px;/*
    width: 100%;
    height: 100%;*/
}
#tabs .tab-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#tabs .tab-item .col-3:nth-child(5),
#tabs .tab-item .col-3:nth-child(6),
#tabs .tab-item .col-3:nth-child(7),
#tabs .tab-item .col-3:nth-child(8) {
    margin-top: 31px;
}
#tabs .main-tags-nav .ui-state-active a {
    background-color: #e74c3c;
    box-shadow: 4px 4px 5px rgba(202, 215, 228, 0.75);
    color: #fff;
}
.lets-check .buttons-wrapper {
    margin-top: 78px;
    text-align: center;
}
.lets-check .buttons-wrapper button:first-child {
    margin-right: 10px;
}
/*Lets check end*/

/*Footer start*/
.bg-footer {
    background-color: #263238;
}
#footer {
    padding-top: 115px;
}
#footer .footer-row {
    margin-bottom: 100px;
}
#footer .footer-title h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 28px;
}
#footer .footer-title::after {
    content: "";
    display: block;
    width: 51px;
    height: 3px;
    background-color: #8bc34a;
}
#footer .footer-item-text {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 1.6em;
    color: #b7c3c8;
    margin-top: 32px;
}
#footer .contacts {
    display: flex;
    flex-direction: column;
}
#footer .contacts .contact-item:last-child {
    margin-top: 23px;
}
#footer .contacts .contact-item .icon {
    font-size: 18px;
    color: #8bc34a;
}
#footer .contacts .contact-item:last-child .icon {
    transform: rotate(90deg);
}
#footer .contacts .contact-text {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #ffffff;
}
#footer .contacts .contact-item:first-child .contact-text {
    line-height: 24px;
    margin-left: 20px;
}
#footer .contacts .contact-item:last-child .contact-text {
    margin-left: 15px;
}
#footer .list-item {
    margin-top: 35px;
}
#footer .list-item li + li {
    margin-top: 25px;
}
#footer .list-item .fa-chevron-right {
    font-size: 18px;
    color: #8bc34a;
}
#footer .list-item li span {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #b7c3c8;
    margin-left: 16px;
}
#footer .list-item li span:hover {
    color: #4e94b1;
}
#footer .social-nav {
    margin-top: 35px;
}
#footer .social-nav li {
    display: inline-block;
    width: 28px;
    height: 28px;
}
#footer .social-nav li + li {
    margin-left: 7px;
}
#footer .follow-us-on .social-nav li:nth-child(1) {
    background: #263238 url(../../../app/img/social-sprite.png) no-repeat 0 0;
}
#footer .follow-us-on .social-nav li:nth-child(2) {
    background: #263238 url(../../../app/img/social-sprite.png) no-repeat -28px 0;
}
#footer .follow-us-on .social-nav li:nth-child(3) {
    background: #263238 url(../../../app/img/social-sprite.png) no-repeat -56px 0;
}
#footer .follow-us-on .social-nav li:nth-child(4) {
    background: #263238 url(../../../app/img/social-sprite.png) no-repeat -84px 0;
}
#footer .follow-us-on .social-nav li:nth-child(5) {
    background: #263238 url(../../../app/img/social-sprite.png) no-repeat -112px 0;
}
#footer .follow-us-on .social-nav li a {
    display: block;
    width: 100%;
    height: 100%;
}
#footer .follow-us-on .social-nav li:hover {
    outline: 1px solid #4e94b1;
}
#footer .follow-us-on .subscribe {
    margin-top: 42px;
}
#footer .follow-us-on .subscribe-title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 22px;
}
#footer .follow-us-on form {
    width: 100%;
    position: relative;
    height: 38px;
    border: 1px solid transparent;
    border-radius: 2px;
    border-image: linear-gradient(180deg, #000101 0%, #253136 100%);
    border-image-slice: 1;
}
#footer .follow-us-on form input {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #2f3c43;
    color: #697378;
    padding-left: 15px;
    padding-right: 58px;
}
#footer .follow-us-on form input::placeholder {
    opacity: 1;
    transition: all 0.5s ease;
}
#footer .follow-us-on form input:focus::placeholder {
    opacity: 0;
}
#footer .follow-us-on form button {
    position: absolute;
    width: 43px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #8bc34a;
    color: #ffffff;
    font-size: 20px;
}
#footer .follow-us-on form button:hover {
    background-color: #608239
}
#footer .copyright {
    display: flex;
    border-top: 1px solid #424d53;
    padding: 30px 15px 35px 15px;
    text-align: center;
}
#footer .copyright .container {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #919699;
}
#accordion {
    display: none;
}


@media (max-width: 991px) {
    #footer .row .col-md-6:nth-child(2),
    #footer .row .col-md-6:nth-child(5) {
        order: 1;
        margin-top: 40px;
    }
}
/*577px - 767px*/
@media (max-width: 767px) {
    #footer {
        padding-top: 80px;
    }
#footer .footer-row {
        margin-bottom: 60px;
    }
    #footer .row .col-md-6:nth-child(2),
    #footer .row .col-md-6:nth-child(5),
    #footer .row .col-md-6:nth-child(4) {
        margin-top: 30px;
    }
    #footer .list-item li + li {
        margin-top: 15px;
    }
    #footer .footer-row {
        text-align: center;
    }
    #footer .footer-title::after {
        margin-left: auto;
        margin-right: auto;
    }
    #footer .list-item li a {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #footer .list-item .fa-chevron-right {
        display: none;
    }
    #footer .contacts .contact-item {
    justify-content: center !important;
    }
}
/*479px - 576px*/
@media (max-width: 576px) {
    #footer .row .col-md-6:nth-child(3),
    #footer .row .col-md-6:nth-child(4) {
        display: none;
    }
    #footer .footer-title::after {
        content: "";
        display: block;
        width: 150px;
        height: 2px;
        background-color: #8bc34a;
    }
    #accordion {
        display: block;
        }
    .accordion,
    .accordion .card {
        margin: 0;
        border: none;
        border-radius: 0;
    }
    .accordion .card-header {
        background-color: #263238;
        border-radius: 0;
        border: none;
        width: 100%;
    }
    .accordion .card-header h5 {
        text-align: center;
    }

    .accordion .card-body {
        background-color: #30393e;
        border: none !important;
    }
    .accordion #collapseOne,
    .accordion #collapseTwo {
        width: 100%;
    }
    .accordion .card-header button {
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 700;
        color: #ffffff;
    }
    .accordion .card .list-item li + li {
        margin-top: 25px;
    }
    .accordion .card .list-item .fa-chevron-right {
        font-size: 18px;
        color: #8bc34a;
    }
    .accordion .card .list-item li span {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #b7c3c8;
        margin-left: 16px;
    }
    .accordion .card .list-item li span:hover {
        color: #4e94b1;
    }
    .card-body:hover .card-header h5 {
        border-bottom: none;
    }
    #footer .list-item {
        margin-top: 10px;
    }
}
/* ----- Pagination start ----- */






/*Custom style*/
#main .withdrawal {
    margin-bottom: 145px;
}
.content-wrapper-bordered .content-wrapper-body {
    padding: 31px 39px 50px 37px; 
}
.content-wrapper-body .btn-custom {
    margin-top: 38px;
}