
/* ===== Custom style withdrawal page ===== */
#main .withdrawal {
    background-color: #f4f6f5;
    padding-bottom: 145px;
}
.content-wrapper-bordered .content-wrapper-body {
    padding: 31px 39px 50px 37px; 
}

.withdrawal .content-wrapper-bordered .content-wrapper-body .col-form-label {
    font-size: 16px;
    font-weight: 500;
    color: #263238;
}

.content-wrapper-bordered .content-wrapper-body label .fas {
    font-size: 9px;
    color: #8bc34a;
    padding-left: 4px;
    transform: rotate(90deg);
}
.withdrawal .form-group  input::placeholder {
    opacity: 1;
    transition: all 0.5s ease;
}
.withdrawal .form-group input:focus::placeholder {
    opacity: 0;
}
.content-wrapper-body .btn-custom {
    margin-top: 38px;
}
.withdrawal .withdrawal-history {
    background-color: #fff;
    border: 1px solid #d7d7d7;
}
.withdrawal .withdrawal-history h6 {
    padding: 21px 32px 25px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #263238;
    border-bottom: 1px solid #d7d7d7;
}
.withdrawal .withdrawal-table {
    font-size: 13px;
    font-weight: 500;
    padding: 33px 40px 36px;
    background-color: #fff;
}
.withdrawal-table table {
    width: 100%;
    text-align: center;
}
.withdrawal-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}
.withdrawal-table tr:hover {
    background-color: #a0a0a0;
    font-weight: 450;
}
.withdrawal-table th,
.withdrawal-table td {
    padding-top: 16px;
    padding-bottom: 17px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #263238;
}
.withdrawal-table tr td .paid {
    color: #8bc34a;
}
.withdrawal-table tr:hover td .paid {
    color: #263238;
}
@media(max-width: 1200px) {
    .withdrawal .withdrawal-table {
        padding: 33px 25px 36px;
    }
}
@media(max-width: 991px) {
    .withdrawal .withdrawal-table {
        padding: 33px 40px 36px;
    }
    .withdrawal .row .withdrawal-history {
        margin-top: 60px;
    }
}
@media (max-width: 767px) {
    .withdrawal .withdrawal-table {
        padding: 33px 15px 36px;
    }
    .content-wrapper-body .btn-custom {
        margin-top: 30px;
        width: 100%;
    }
    .content-wrapper-bordered .content-wrapper-body {
        padding-bottom: 30px; 
    }
    .content-wrapper-bordered .content-wrapper-title h6,
    .withdrawal .withdrawal-history h6 {
        text-align: center;
    }
}
@media (max-width: 576px) {
    .content-wrapper-bordered .content-wrapper-body {
        padding: 25px 20px 25px 20px;
    }
    .withdrawal .withdrawal-table {
        padding: 0;
    }
    .withdrawal .withdrawal-table table tr {
        display: flex;
        flex-direction: column;
    }
    .withdrawal-table th, 
    .withdrawal-table td {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }
    .withdrawal-table tr:nth-child(odd) {
        background-color: #eaeaea;
    }
    .withdrawal .row .withdrawal-history {
        margin-top: 30px;
    }
}
@media(max-width: 479px){
    .withdrawal {
        padding-top: 40px; 
    }
}