
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    background-color: #fff;
    color: #777;
    font: 400 16px/1 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

input, textarea, button {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
    padding: 0;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    cursor: pointer;
}

blockquote {
    margin: 0;
}
/* ----- Aside section start ----- */
.aside-section{
    padding: 23px 28px 28px;
    border: 1px solid #dde3e8;
    background-color: #fff;
}
.aside-title{
    font-weight: 700;
    font-size: 20px;
    color: #263238;
    line-height: 1.5;
    border-bottom: 1px solid #dde3e8;      
    text-transform: capitalize; 
    margin-bottom: 27px;
}
.aside-section span{
    display: block;
    padding-bottom: 15px;
}
.aside-section + .aside-section{
    margin-top: 32px;
}
/* ----- Aside section end ----- */
/* ----- Breadcrumbs start ----- */
.breadcrumb-item + .breadcrumb-item::before{
    content: "-";
    color: #8bc34a;
}

.breadcrumb{
    font-size: 15px;
    padding: 0;
    margin-bottom: 45px; 
    /* отступ до секции aside */
    background-color: transparent;
}
.breadcrumb-item{
    color: #b0bec5;
}
.breadcrumb-item a:hover{
    color: #263238;
}
.breadcrumb-item.active{
    color: #263238;
}
/* ----- Breadcrumbs end ----- */

/* Login start */
#loginModal .modal-dialog{
    max-width: 730px;
}
#loginModal .modal-content{
    background-color: #8bc34a;
    border-radius: 0;
    border: none;
    padding: 90px 30px 110px;
}
#loginModal .close{
    position: absolute;
    top: -70px;
    right: -5px;
    color: #fff;
    opacity: 1;
    font-size: 18px;
}
#loginModal button:focus{
    outline: none;
}
#loginModal .login-title{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
#loginModal form[name="login-form"]{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.login-form-control::-webkit-input-placeholder {color:#fff;}
.login-form-control::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.login-form-control:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.login-form-control:-ms-input-placeholder      {color:#fff;}

#loginModal .login-form-control{
    background-color: #76ae36;
    width: 100%;
    height: 43px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-left: 40px;
}
#loginModal .login-form-group{
    position: relative;
}
#loginModal .login-form-group + .login-form-group{
    margin-top: 8px;
}
#loginModal .login-form-group i{
    position: absolute;
    top: 48%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 16px;
    color: #fff;
    font-size: 13px;
}
#loginModal .login-btn-group{
    margin-top: 20px;
    margin-bottom: 24px;
}
#loginModal .login-btn-group button{
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    min-width: 140px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(118, 174, 54, .75);
            box-shadow: 0 2px 3px 0 rgba(118, 174, 54, .75);
}
#loginModal .login-btn-group a{
    background-color: #76ae36;
    font-size: 18px;
    color: #fff;
    line-height: 1;
    width: 244px;
    margin-left: 12px;
}
#loginModal .login-btn-group a:hover{
    background-color: #6fad28;
}
#loginModal .login-btn-group i{
    padding-right: 15px;
    padding-left: 10px;
    font-size: 15px;
}
#loginModal .lost-password{
    font-size: 18px;
    color: #fff;
}
#loginModal .lost-password:hover{
    color: #263238;
}
/* Login end */
/* ----- Pagination start ----- */
.pagination{
    margin-top: 60px;
}
.page-link{
    padding: 10px 18px;
    font-weight: 500;
    font-size: 16px;
    color: #263238;
    margin-left: 8px;
    -webkit-box-shadow: 0px 1px 2px #d9e0e3;
            box-shadow: 0px 1px 2px #d9e0e3;
    border: none;
}
.page-link:focus{
    -webkit-box-shadow: 0px 1px 2px #d9e0e3;
            box-shadow: 0px 1px 2px #d9e0e3;
}
.page-item:first-child .page-link{
    border-radius: 0px;
}
.page-item:last-child .page-link{
    border-radius: 0px;
}
.page-item .page-link:hover{
    background-color: #e74c3c;
    color: #fff;
}
.page-item.active .page-link{
    background-color: #e74c3c;
}

/* ----- Pagination end ----- */
/* ----- Search section start ----- */
.search-section{
    background-image: url("../img/inner-img.jpg");
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    margin-bottom: 40px;  
    /* отступ до секции хлебные крошки */
}
.search-section.big-search{
    min-height: 535px;
}
.search-section.small-search{
    min-height: 230px;
}
.search-section h1{
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 30px;
}
.search-section span{
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 55px;
    display: block;
}
.search-section.small-search span{
    margin-bottom: 25px;
}
.search-form{
    max-width: 620px;
    position: relative;
}

.form-control-search::-webkit-input-placeholder {color:#90a4ae;}
.form-control-search::-moz-placeholder          {color:#90a4ae;}/* Firefox 19+ */
.form-control-search:-moz-placeholder           {color:#90a4ae;}/* Firefox 18- */
.form-control-search:-ms-input-placeholder      {color:#90a4ae;}

.form-control-search{
    padding-right: 60px;
    padding-left: 25px;
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 1px 1px 10px rgba(124, 178, 64, 0.75);
            box-shadow: 1px 1px 10px rgba(124, 178, 64, 0.75);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .05em;
    text-transform: capitalize;
    color: #90a4ae;
    background-color: #fff;
}
.search-form i{
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #78909c;
    font-size: 20px; 
    background-color: transparent; 
}
.form-control-search:focus{
    -webkit-box-shadow: 1px 1px 30px rgba(124, 178, 64, 0.75);
            box-shadow: 1px 1px 30px rgba(124, 178, 64, 0.75);
}
.small-search form .form-control-search{
    -webkit-box-shadow: 1px 1px 10px rgba(1, 1, 1, 0.75);
            box-shadow: 1px 1px 10px rgba(1, 1, 1, 0.75);
}
.small-search form .form-control-search:focus{
    -webkit-box-shadow: 1px 1px 25px rgba(1, 1, 1, 0.45);
            box-shadow: 1px 1px 25px rgba(1, 1, 1, 0.45);
}


/* ----- Search section end ----- */



