
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    background-color: #fff;
    color: #777;
    font: 400 16px/1 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

input, textarea, button {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
    padding: 0;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    cursor: pointer;
}

blockquote {
    margin: 0;
}
/* ----- Aside section start ----- */
.aside-section{
    padding: 23px 28px 28px;
    border: 1px solid #dde3e8;
    background-color: #fff;
}
.aside-title{
    font-weight: 700;
    font-size: 20px;
    color: #263238;
    line-height: 1.5;
    border-bottom: 1px solid #dde3e8;      
    text-transform: capitalize; 
    margin-bottom: 27px;
}
.aside-section span{
    display: block;
    padding-bottom: 15px;
}
.aside-section + .aside-section{
    margin-top: 32px;
}
.mobile-aside-toggle{
    display: none;
}
button.mobile-aside-toggle{
    outline: none;
}
/* Добавить в ресет*/
body.overflow{
    overflow: hidden;
}
#main{
    overflow: hidden;
}

/* ----- Aside section end ----- */

/* Adaptive start */
@media(max-width: 991px){
    .mobile-aside{
        position: fixed;
        top: 15px;
        left: 0;
        z-index: 999;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        height: 100vh;
        overflow-y: auto;
    }
    .mobile-aside.left{
        -webkit-transform: translateX(-110%);
                transform: translateX(-110%);
    }
    .mobile-aside.right{
        left: auto;
        right: 30px;
        -webkit-transform: translateX(110%);
                transform: translateX(110%);
    }  
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, .4);
        z-index: -1;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
    }
    #main.show-aside .mobile-aside.left,
    #main.show-aside .mobile-aside.right{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    #main.show-aside .overlay{
        z-index: 998;
        opacity: 1;
    }
    .mobile-aside-toggle{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

/* Adaptive end */
/* ----- Breadcrumbs start ----- */
.breadcrumb-section{
    padding: 45px 0;
}
.breadcrumb-item + .breadcrumb-item::before{
    content: "-";
    color: #8bc34a;
}
.breadcrumb{
    font-size: 15px;
    padding: 0;
    margin-bottom: 0px; 
    background-color: transparent;
}
.breadcrumb-item{
    color: #b0bec5;
}
.breadcrumb-item a:hover{
    color: #263238;
}
.breadcrumb-item.active{
    color: #263238;
}
/* Breadcrumbs end */

/* Adaptive start */
@media(max-width: 479px){
    .breadcrumb{
        display: none;
    }
}
/* Adaptive end */

/* Forms start */
.content-wrapper-bordered{
    background-color: #fff;
    border: 1px solid #dedede;
}
.content-wrapper-bordered .content-wrapper-title{
    padding: 20px 34px;
    border-bottom: 1px solid #dedede;
}
.content-wrapper-bordered .content-wrapper-title h6{
    font-size: 24px;
    color: #263238;
    font-weight: 500;
    text-transform: capitalize;
}
.content-wrapper-bordered .content-wrapper-body .col-form-label{
    text-transform: capitalize;
    color: #444;
    font-size: 15px;
    position: relative;
}
.form-control{
    border: 1px solid #dcdcdc;
    background-color: #f9f9f9;
    border-radius: 0;
    height: 40px;
    padding: 5px 16px;
}
.form-group{
    margin-bottom: 0;
}
.form-group:not(:first-of-type){
    margin-top: 22px;
}
.form-control:focus{
    -webkit-box-shadow: 0 2px 3px rgba(111, 111, 111, 0.75);
            box-shadow: 0 2px 3px rgba(111, 111, 111, 0.75);
    border-color: #dcdcdc;
    background-color: #f9f9f9;
}
.jq-selectbox {
    width: 100%;
}
.jq-selectbox.focused .jq-selectbox__select{
    border: 1px solid #dcdcdc;
}
.jq-selectbox__select{
    border: 1px solid #dcdcdc;
    background: #f9f9f9;
    border-radius: 0;
    height: 40px;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 40px 0 15px;
    line-height: 40px;
}
.jq-selectbox .placeholder{
    font-size: 15px;
    color: #707070;
    text-transform: capitalize;
    font-family: 'Roboto';
}
.jq-selectbox li{
    font-size: 15px;
    color: #707070;
    text-transform: capitalize;
    font-family: 'Roboto';
}
.jq-selectbox__select:hover{
    background: #f9f9f9;
}
.jq-selectbox__trigger{
    border-left: none;
    width: 40px;
}
.jq-selectbox__trigger-arrow{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-top-color: #000;
}
.col-form-label span{
    color: #8bc34a;
    font-size: 10px;
    margin-left: 3px;
    position: absolute;
}
.content-wrapper-bordered .content-wrapper-body textarea.form-control{
    min-height: 150px;
}
.form-control::-webkit-input-placeholder {
    color: #707070;
    font-size: 15px;
}   
.form-control:-moz-placeholder { /* Firefox 18- */
    color: #707070;
    font-size: 15px; 
}  
.form-control::-moz-placeholder {  /* Firefox 19+ */
    color: #707070;
    font-size: 15px; 
}  
.form-control:-ms-input-placeholder {  
    color: #707070;
    font-size: 15px; 
}
.jq-file{
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    border-radius: 0;
}
.jq-file.focused .jq-file__name{
    border: 1px solid #dedede;
}
.jq-file__name{
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 104px;
    border: 1px solid #dedede;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #f9f9f9;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    color: #707070;
    text-transform: capitalize;
}
.jq-file__browse{
    top: 7px;
    right: auto;
    left: 10px;
    border-left: none;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    line-height: 26px;
    height: 26px;
    background-image: none;
    background-color: #fff;
    border: 1px solid #dedede;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: #444;
}
/* Forms end */

/* Login start */
#loginModal .modal-dialog{
    max-width: 730px;
}
#loginModal .modal-content{
    background-color: #8bc34a;
    border-radius: 0;
    border: none;
    padding: 90px 30px 110px;
}
#loginModal .close{
    position: absolute;
    top: -70px;
    right: -5px;
    color: #fff;
    opacity: 1;
    font-size: 18px;
}
#loginModal button:focus{
    outline: none;
}
#loginModal .login-title{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
#loginModal form[name="login-form"]{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.login-form-control::-webkit-input-placeholder {color:#fff;}
.login-form-control::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.login-form-control:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.login-form-control:-ms-input-placeholder      {color:#fff;}

#loginModal .login-form-control{
    background-color: #76ae36;
    width: 100%;
    height: 43px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-left: 40px;
}
#loginModal .login-form-group{
    position: relative;
}
#loginModal .login-form-group + .login-form-group{
    margin-top: 8px;
}
#loginModal .login-form-group i{
    position: absolute;
    top: 48%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 16px;
    color: #fff;
    font-size: 13px;
}
#loginModal .login-btn-group{
    margin-top: 20px;
    margin-bottom: 24px;
}
#loginModal .login-btn-group button{
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    min-width: 140px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(118, 174, 54, .75);
            box-shadow: 0 2px 3px 0 rgba(118, 174, 54, .75);
}
#loginModal .login-btn-group a{
    background-color: #76ae36;
    font-size: 18px;
    color: #fff;
    line-height: 1;
    width: 244px;
    margin-left: 12px;
}
#loginModal .login-btn-group a:hover{
    background-color: #6fad28;
}
#loginModal .login-btn-group i{
    padding-right: 15px;
    padding-left: 10px;
    font-size: 15px;
}
#loginModal .lost-password{
    font-size: 18px;
    color: #fff;
}
#loginModal .lost-password:hover{
    color: #263238;
}
/* Login end */

/* Adaptive start */
@media(max-width: 576px){
    #loginModal .modal-content{
        padding: 50px 30px 60px;
    }
    #loginModal .close{
        top: -30px;
        right: 1px;
    }
    #loginModal .login-btn-group a{
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 20px;
    }
    #loginModal .login-btn-group button{
        width: 100%;
    }
    #loginModal .login-btn-group i{
        padding-right: 10px;
        padding-left: 0;
    }
} 
@media(max-width: 479px){
    #loginModal .login-btn-group a{
        font-size: 16px;
    }   
}
/* Adaptive end */
/* Pagination start */
.pagination{
    margin-top: 60px;
}
.page-link{
    padding: 10px 18px;
    font-weight: 500;
    font-size: 16px;
    color: #263238;
    margin-left: 8px;
    -webkit-box-shadow: 0px 1px 2px #d9e0e3;
            box-shadow: 0px 1px 2px #d9e0e3;
    border: none;
}
.page-link:focus{
    -webkit-box-shadow: 0px 1px 2px #d9e0e3;
            box-shadow: 0px 1px 2px #d9e0e3;
}
.page-item:first-child .page-link{
    border-radius: 0px;
}
.page-item:last-child .page-link{
    border-radius: 0px;
}
.page-item .page-link:hover{
    background-color: #e74c3c;
    color: #fff;
}
.page-item.active .page-link{
    background-color: #e74c3c;
}

/* Pagination end */

/* Adaptive start */
@media(max-width: 767px){
    .page-link{
        padding: 4px 12px;
    }
}
@media(max-width: 576px){
    .page-link{
        padding: 3px 9px;
        font-size: 13px;
    }
}
/* Adaptive end */
/* ----- Search section start ----- */
.search-section{
    background-image: url("../img/inner-img.jpg");
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
}
.search-section.big-search{
    min-height: 535px;
}
.search-section.small-search{
    min-height: 230px;
}
.search-section h1{
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 30px;
}
.search-section span{
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 55px;
    display: block;
}
.search-section.small-search span{
    margin-bottom: 25px;
}
.search-form{
    max-width: 620px;
    position: relative;
}

.form-control-search::-webkit-input-placeholder {color:#90a4ae;}
.form-control-search::-moz-placeholder          {color:#90a4ae;}/* Firefox 19+ */
.form-control-search:-moz-placeholder           {color:#90a4ae;}/* Firefox 18- */
.form-control-search:-ms-input-placeholder      {color:#90a4ae;}

.form-control-search{
    padding-right: 60px;
    padding-left: 25px;
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 1px 1px 10px rgba(124, 178, 64, 0.75);
            box-shadow: 1px 1px 10px rgba(124, 178, 64, 0.75);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .05em;
    text-transform: capitalize;
    color: #90a4ae;
    background-color: #fff;
}
.search-form i{
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #78909c;
    font-size: 20px; 
    background-color: transparent; 
}
.form-control-search:focus{
    -webkit-box-shadow: 1px 1px 30px rgba(124, 178, 64, 0.75);
            box-shadow: 1px 1px 30px rgba(124, 178, 64, 0.75);
}
.small-search form .form-control-search{
    -webkit-box-shadow: 1px 1px 10px rgba(1, 1, 1, 0.75);
            box-shadow: 1px 1px 10px rgba(1, 1, 1, 0.75);
}
.small-search form .form-control-search:focus{
    -webkit-box-shadow: 1px 1px 25px rgba(1, 1, 1, 0.45);
            box-shadow: 1px 1px 25px rgba(1, 1, 1, 0.45);
}

/* ----- Search section end ----- */

/* Adaptive start */
@media(max-width: 991px){
    .search-section h1{
        font-size: 40px;
    }
}
@media(max-width: 767px){
    .search-section.big-search{
        min-height: 335px;
    }
    .search-section h1{
        font-size: 33px;
    }
    .search-section span{
        font-size: 17px;
        margin-bottom: 30px;
    }
    .form-control-search{
        height: 40px;
        padding-right: 40px;
    }
    .search-form i{
        font-size: 15px;
        right: 10px;
    }
}
@media(max-width: 576px){
    .search-section h1{
        font-size: 29px;
    }   
}
/* Adaptive end */


/* Personal info start */
.form-section.personal-info{
    padding-bottom: 153px;
    position: relative;
}
.form-section.personal-info .mobile-aside-toggle{
    position: absolute;
    top: -33px;
}
.form-section .mobile-aside-toggle i{
    background-color: #f4f6f5;
    font-size: 20px;
    color: #707070;
    font-weight: 700;
}
.form-section.personal-info .content-wrapper-bordered .content-wrapper-body{
    padding: 35px 34px 80px;
}
.form-section .aside-section{
    padding: 0;
    border-bottom: none;
}
.nav-pills .nav-link{
    border-radius: 0;
}
.nav.nav-pills a{
    position: relative;
    padding: 15px 5px 15px 50px;
    border-bottom: 1px solid #d7d7d7;
    font-size: 14px;
    color: #707070;
}
.nav.nav-pills .nav-link::before{
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    font-weight: 900;
    position: absolute;
    left: 23px;
    bottom: 18px;
    color: #696969;
    font-size: 10px;
}
.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link{
    color: #37474f;
    border-bottom: 2px solid #8bc34a;
    background-color: #fff;
}
.nav.nav-pills .nav-link.active::before{
    color: #8bc34a;
}
.nav.nav-pills .nav-link:hover::before{
    color: #8bc34a;
}
.nav.nav-pills .nav-link:hover{
    color: #37474f;
    border-bottom: 2px solid #8bc34a;
    background-color: #fff;
}
.form-section.personal-info .update-area{
    margin-top: 25px;
}
.form-section.personal-info .update-area .btn-custom{
    padding: 13px 35px;
    font-size: 15px;
}
@media(max-width: 991px){
    .nav.nav-pills a{
        padding: 25px 5px 25px 50px;
        font-size: 20px;
    }
    .nav.nav-pills .nav-link::before{
        bottom: 30px;
    }
}
@media(max-width: 767px){
    .form-section.personal-info .content-wrapper-bordered .content-wrapper-body{
        padding: 20px 20px 50px;
    }
    .form-section.personal-info .content-wrapper-bordered .content-wrapper-title{
        padding-left: 20px;
    }
    .form-section.personal-info{
        padding-bottom: 80px;
    }
    .form-section.personal-info .mobile-aside{
        top: 60px;
    }
}
@media(max-width: 576px){
    .update-area .btn-custom{
        width: 100%;
    }
}
@media(max-width: 479px){
    .form-section.personal-info .mobile-aside-toggle{
        top: -60px;
    }
    .form-section .mobile-aside-toggle i{
        font-size: 25px;
    }
}

/* Personal info end */
/* Upload products start */
.form-section.upload-products{
    padding-bottom: 110px;
}
.form-section.upload-products .content-wrapper-bordered .content-wrapper-body{
    padding: 45px 45px 68px;
}
.content-wrapper-bordered .content-wrapper-title.product-title{
    padding-top: 0;
} 
.submit-area{
    margin-top: 42px;
}
.submit-area .btn-custom{
    padding: 13px 35px;
    font-size: 15px;
}
@media(max-width: 767px){
    .form-section.upload-products .content-wrapper-bordered .content-wrapper-body{
        padding: 20px 20px 40px;
    }
    .form-section.upload-products .content-wrapper-bordered .content-wrapper-title{
        padding-left: 20px;
    }
}
@media(max-width: 576px){
    .submit-area .btn-custom{
        width: 100%;
    }
    .form-section.upload-products{
        padding-bottom: 80px;
    }
}
/* Upload products end */