/* ----- Aside section start ----- */
.aside-section{
    padding: 23px 28px 28px;
    border: 1px solid #dde3e8;
    background-color: #fff;
}
.aside-title{
    font-weight: 700;
    font-size: 20px;
    color: #263238;
    line-height: 1.5;
    border-bottom: 1px solid #dde3e8;      
    text-transform: capitalize; 
    margin-bottom: 27px;
}
.aside-section span{
    display: block;
    padding-bottom: 15px;
}
.aside-section + .aside-section{
    margin-top: 32px;
}
/* ----- Aside section end ----- */