
.gt-builder .mobile-aside-toggle {
    width: 50px;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.gt-builder, .breadcrumb-section, .author {
    background-color: #f4f6f5;
}

.gt-builder .gt-builder-img {
    background-color: #fff;
    padding: 19px 18px;
    border: 1px solid #dedede;
    margin-bottom: 35px;
}

.gt-builder .gt-builder-img img {
    width: 100%;
}

.gt-builder-info {
    margin-bottom: 35px;
}

.gt-builder-info .default-section-title {
    display: block;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.33;
    margin-bottom: 25px;
    text-align: left;
}

.gt-builder-social .btn-row .btn-custom:last-child {
    margin-right: 0;
}

.gt-builder-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 55px;
}

.gt-builder-social .btn-custom {
    margin-right: 18px;
    color: #f4f6f5;
}

.gt-builder-social .social-icon li {
    display: inline-block;
    vertical-align: top;
}

.gt-builder-social .social-icon li a {
    color: #fff;
    font-size: 15px;
    width: 54px;
    height: 50px;
    display: block;
    position: relative;
}

.gt-builder-social .social-icon li a:hover {
    opacity: .75;
}

.gt-builder-social .social-icon li a::before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.gt-builder-social .social-icon .fa-facebook-f {
    background-color: #6370b6;
}

.gt-builder-social .social-icon .fa-twitter {
    background-color: #64b5f6;
}

.gt-builder-social .social-icon .fa-linkedin-in  {
    background-color: #4f71ce;
}

.gt-builder-social .social-icon .fa-pinterest-p {
    background-color: #d32f2f;
}

.product-detail {
    background-color: #fff;
    border: 1px solid #dedede;
    margin-bottom: 53px;
}

.product-detail .nav .nav-item {
    width: 25%;
    text-align: center;
    color: #78909c;
    font-weight: 500;
    line-height: 2.75;
}

.product-detail .nav .nav-item + .nav-item {
    border-left: 1px solid #d7d7d7;
}

.product-detail .nav-tabs .nav-link {
    border: none;
}

.product-detail .nav-link.active {
    color: #263238;
    border-bottom: 3px solid #8bc34a;
}

.product-detail .nav-link:hover {
    color: #263238;
    border-bottom: 3px solid #8bc34a;
}

.product-detail .tab-pane .tab-info-row {
    padding: 35px 35px 0;
    margin-bottom: 30px;
}

.product-detail .tab-info-row .default-list {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-width: 33.3333%;
            column-width: 33.3333%;
    -webkit-column-fill: auto;
            column-fill: auto;
    height: 260px;
}

.another-products .default-section-title {
    text-align: left;
    font-size: 18px;
    line-height: 1.33;
    background-color: #fff;
    padding: 20px 27px 25px;
}

.another-products {
    margin-bottom: 100px;
}

.another-products-card {
    margin-bottom: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(205, 214, 222, .75);
            box-shadow: 0 1px 2px 0 rgba(205, 214, 222, .75);
}

.another-products-card:hover {
    opacity: .75;
}

.another-products-card a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.another-products-card-img {
    width: 100px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

.another-products-card .item-info {
    padding: 10px 5px 0 20px;
    line-height: 1.8;
}

.another-products-card .item-info span {
    display: block;
}

.another-products-card .item-name {
    font-size: 14px;
    color: #263238;
}

.another-products-card .item-category {
    color: #8bc34a;
}

.another-products-card .item-price {
    font-size: 18px;
    color: #263238;
    font-weight: 700;
}
/* Aside-section Oleg-style start */

.aside-section .aside-title {
    display: block;
    padding-bottom: 15px;
}

.aside-section .price-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 28px;
}

.price-option .aside-price {
    font-size: 22px;
    font-weight: 500;
    color: #e74c3c;
}
.price-option .jq-selectbox {
    width: auto;
}

.price-option .jq-selectbox__select {
    max-width: 82px;
    border-color: #d5d5d5;
    color: #70838d;
    background-color: #fff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 7px 25px 7px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.price-option .jq-selectbox__trigger {
    width: 25px;
}

.price-option .jq-selectbox__trigger-arrow {
    border-top-color: #8bc34a;
}


.product-author-info .author-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
    overflow: hidden;
}

.product-author-info .author-info .author-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
}

.product-author-info .author-name {
    font-size: 18px;
    color: #263238;
    font-weight: 400;
    margin: 0;
}

.product-author-info .btn-outline-secondary {
    font-size: 13px;
    border-radius: 0;
}

.product-author-info .author-img {
    width: 73px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 15px;
}

/* Shield-icon start*/
.shield-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.shield-list li + li {
    margin-left: 5px;
}

.shield {
    position: relative;
    width: 34px;
    height: 37px;
    border-radius: 0 0 140px 140px;
    display: inline-block;
}

.shield:before, .shield:after {
    position: absolute;
    margin-top: 15px;
    content:"";
    left: 17px;
    top: 0;
    width: 17px;
    height: 25px;
    background-color: inherit;
    border-radius: 110px 0 0 0;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
}

.shield:after {
    background-color: inherit;
    left: 0;
    border-radius: 0 110px 0 0;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
}

.product-icon a {
    position: relative;
}

.shield-icon:before {
    font-size: 19px;
    color: #fff;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 43%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.shield-bg-warning {
    background-color: #ffb74d;
}

.shield-bg-danger {
    background-color: #f4511e;
}

.shield-bg-info {
    background-color: #00bcd4;
}

.shield-bg-success {
    background-color: #66bb6a;
}

.shield-bg-light {
    background-color: #cfd8dc;
}

.aside-section:nth-child(2) .shield-list .fas {
    margin: 0;
}

/* Shild-icon end*/

.product-sales i {
    font-size: 20px;
    color: #a6b5bb;
    margin-right: 20px;
}

.product-sales .sales-amount {
    font-size: 20px;
    color: #263238;
    margin-right: 15px;
    font-weight: 700;
}

.information-list li {
    color: #263238;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.information-list li span {
    color: #70838d;
    display: inline-block;
}

/* Adaptive start */
@media (max-width: 1200px) {
    .gt-builder-social .btn-custom {
        font-size: 14px;
        padding: 16px;
        margin-right: 10px;
    }
}

@media (max-width: 991px) {
    .gt-builder .mobile-aside.left {
        width: 290px;
    }
}

@media (max-width: 768px) {
    .gt-builder-social {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .gt-builder-social .btn-row {
        margin: 0 auto 10px;
    }

    .gt-builder-social .btn-custom {
        margin: 0 0 10px;
        width: 100%;
    }

    .gt-builder-social .social-row {
        text-align: center;
        width: 100%;
    }

    .product-detail .tab-info-row .default-list {
        -webkit-column-count: 2;
                column-count: 2;
        height: auto;
    }
}
@media (max-width: 576px) {

    .product-features .product-detail .nav {
        display: block;
    }
    .product-detail .nav .nav-item {
        width: 100%;
    }
   
    .product-detail .tab-info-row .default-list {
        -webkit-column-count: 1;
                column-count: 1;
    }

    .product-detail .nav-link {
        border-bottom: 3px solid #fff !important; 
    }

    .product-detail .nav-link.active {
        border-bottom: 3px solid #8bc34a !important; 
    }
}

@media (max-width: 479px) {
    .gt-builder {
        padding-top: 40px;
    }
}